<!--
  Generated template for the MenuGranelPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton>
    <ion-title>
      <h3 style="color: #02383c;">Principal</h3>
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only *ngIf="contador === 0" disabled (click)="actualizarRuta()"
        (click)="mensajeDeSeguridad2()" style="color:green;">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-button icon-only *ngIf="contador != 0" (click)="actualizarRuta()" (click)="mensajeDeSeguridad2()"
        style="color:green;">
        <ion-icon name="cloud-download"></ion-icon>
      </button>
      <button ion-button icon-only>
        <ion-icon></ion-icon>
      </button>
      <button ion-button icon-only (click)="actualizarRuta()" (click)="mensajeDeSeguridad()" style="color:red;">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding class="fondo1">
  <section>
    <h1 class="h1" text-center class="colorRuta">En uso ruta: {{idRuta}} </h1>
  </section>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="escanearCodigo()">
          <ion-icon name="md-qr-scanner" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Facturar</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="iraClientes()">
          <ion-icon name="ios-navigate" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Clientes</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="IrAFacturas()  ">
          <ion-icon name="list-box" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Facs del Dia</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="irAClientesNuevos()">
          <ion-icon name="md-person-add" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Nuevo Cliente</div>
        </button>
      </ion-col>

      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="iraGestiones()">
          <ion-icon name="settings" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Trámites</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="iraCierre()">
          <ion-icon name="md-calculator" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Cierre</div>
        </button>
      </ion-col>

      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="irADescargas()">
          <ion-icon name="md-download" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Descarga</div>
        </button>
      </ion-col>

      <br>
      <br>
      <br>
      <!-- <button class="btn-menu" ion-button icon-start (click)="escanearCodigo()">
      <ion-icon class="icon-color" name="paper"></ion-icon>
      Facturacion
    </button>
    <br>
    <button class="btn-menu" ion-button icon-start (click)="iraFacturas()">
      <ion-icon class="icon-color" name="list-box"></ion-icon>
      Facturas del Día
    </button>
      <br>
      <button class="btn-menu" ion-button icon-start (click)="iraGestiones()">
        <ion-icon class="icon-color" name="ios-contacts"></ion-icon>
       Nuevo Cliente
      </button>

    <br>
    <button class="btn-menu" ion-button icon-start (click)="iraGestiones()">
      <ion-icon class="icon-color" name="settings"></ion-icon>
      Gestiones
    </button>
    <br>
    <button class="btn-menu" ion-button icon-start (click)="iraCierre()">
      <ion-icon class="icon-color" name="md-clipboard"></ion-icon>
      Cierre
    </button> -->

    </ion-row>
  </ion-grid>
</ion-content>
