.page-login {
  //background-image: url(../../assets/imgs/dirty-pattern-paint-room-block_1203-5709.jpg);
  background-color: #F79526;
  overflow-x:hidden;
  overflow-y:hidden;
  }

.imagen{
  padding-top: 50px;
  width: 290;
  height: 113;
}

.contenedor{
  margin-top: 30px;
  padding-top: 50px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: rgba(0,0,0,0.5);
  border: solid 2px;
  border-color:#F79526;
}

.select-ruta{
  margin-top:15px;
}

.boton-inicioSis{
  border: solid 1px;
  border-bottom-color: aliceblue;
}

.boton-inicioSis1{
  border: solid 1px;
  border-bottom-color: aliceblue;
  background-color: green;
}

.titulohome{
  text-align: center;
}
