<!--
  Generated template for the TransaccionesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>transacciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Banco</h2>

  <ion-item>
      <ion-label>Numero de Factura</ion-label>
      <ion-input type="text" [(ngModel)]="factura" disabled></ion-input>
  </ion-item>

<form [formGroup] = 'formgroup'>
  <ion-list>
    <ion-item>
      <ion-label>Tipo de Tramite </ion-label>
      <ion-select formControlName='tipo'>
        <ion-option value="Transferencia">Transferencia</ion-option>
        <ion-option value="Cheque">Cheque </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="tipo.hasError('required') && tipo.touched">
        <p class="alerta">*Tipo de tramite es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
    </ion-item>


<!--
    <ion-item hidden=true>
      <ion-label>Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="fecha"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>N° Documento</ion-label>
      <ion-input type="text"  formControlName='documento'></ion-input>
    </ion-item>
    <ion-item *ngIf="documento.hasError('required') && documento.touched">
        <p class="alerta">*N° documento es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
    </ion-item>


    <ion-item>
      <ion-label>Banco</ion-label>
      <ion-select  formControlName='banco'>
        <ion-option value="Nacional">Nacional</ion-option>
        <ion-option value="Bac">Bac </ion-option>
        <ion-option value="BCR">BCR </ion-option>
        <ion-option value="Banco Popular">Banco Popular</ion-option>
        <ion-option value="Davivienda">Davivienda</ion-option>
        <ion-option value="Scotiabank">Scotiabank</ion-option>
        <ion-option value="Lafise">Lafise</ion-option>
        <ion-option value="Promerica">Promerica</ion-option>
        <ion-option value="Otro">Otro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="banco.hasError('required') && banco.touched">
        <p class="alerta">*Banco es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
    </ion-item>


    <ion-item>
      <ion-label>Monto</ion-label>
      <ion-input type="number"  formControlName='monto' ></ion-input>
    </ion-item>
    <ion-item *ngIf="monto.hasError('required') && monto.touched">
        <p class="alerta">*Monto es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
        <p class="alerta">*Escribirlo sin puntos y sin comas</p>
    </ion-item>


    <!-- <ion-item disabled>
      <ion-label>Ruta</ion-label>
      <ion-input type="text" [(ngModel)]="ruta" disabled></ion-input>
    </ion-item> -->

   </ion-list>

   <button ion-button block (click)="mensajeDeSeguridad()" [disabled]="!formgroup.valid">Guardar Banco</button>

</form>

</ion-content>
