<!--
  Generated template for the BilletesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #0747A6;">Billetes</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Billetes</h2>

  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label>50 Mil</ion-label>
          <ion-input type="string" [(ngModel)]="cincuentaMil"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>20 Mil</ion-label>
          <ion-input type="string" [(ngModel)]="veinteMil" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>10 Mil</ion-label>
          <ion-input type="string" [(ngModel)]="diezMil" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>5 Mil</ion-label>
          <ion-input type="string" [(ngModel)]="cincoMil" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>2 Mil</ion-label>
          <ion-input type="string" [(ngModel)]="dosMil" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>Mil</ion-label>
          <ion-input type="string" [(ngModel)]="mil" ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>


  <h2>Monedas</h2>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-item >
          <ion-label>500</ion-label>
          <ion-input type="string" [(ngModel)]="quinientos"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>100</ion-label>
          <ion-input type="string" [(ngModel)]="cien" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>50</ion-label>
          <ion-input type="string" [(ngModel)]="cincuenta" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item >
          <ion-label>25</ion-label>
          <ion-input type="string" [(ngModel)]="veinticinco"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item >
          <ion-label>10</ion-label>
          <ion-input type="string" [(ngModel)]="diez"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item >
          <ion-label>5</ion-label>
          <ion-input type="string" [(ngModel)]="cinco"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>Dolares</ion-label>
          <ion-input type="string" [(ngModel)]="dolares" ></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label>Vale</ion-label>
          <ion-input type="text" [(ngModel)]="vale"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
</ion-grid>


  <ion-item hidden=true>
    <ion-label>Fecha</ion-label>
    <ion-input displayFormat="MM/DD/YYYY" [(ngModel)]="fecha"></ion-input>
  </ion-item>

  <br>
  <button ion-button block (click)="mensajeDeSeguridad()">Guardar Billetes</button>



  <ion-list>
    <ion-item-sliding *ngFor="let billete of billetesSQLite">
      <ion-item ion-item >
        {{ billete.fecha }} Total:₡ {{ granTotal}}
      </ion-item>
    </ion-item-sliding>
  </ion-list>

</ion-content>
