
.imagenes{
  height: 20%;
  width: 20%;
}

#loadedImages{
    ion-item{
        display:inline-block;
        padding: 20 !important;
        width: 31.333%;
        .item-inner{
            padding: 0 !important;
            .input-wrapper {
                ion-label {
                    margin:0 !important;
                    ion-icon{
                        color: #FFF;
                        position: absolute;
                        z-index: 9;
                        font-size: 4rem;
                        right: 0;
                        text-shadow: #1c1c1c 1px 1px 1px;
                    }
                    img {
                        width: 100%;
                        height: auto;
                        border-radius: 5px;
                        opacity: .85;
                    }
                }
            }
        }
    }
}
