<ion-header>
  <ion-navbar hideBackButton>

    <ion-buttons start >
      <button ion-button icon-only (click)="volverInicio()">
        <ion-icon style="color: #02383c;" name="arrow-round-back"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title class="titulohome">
        <h3 style="color: #02383c;">Granel</h3>
    </ion-title>

    <ion-buttons end >
      <button ion-button icon-only  >
          <!-- (click)="obtenerLaRutaQueSeCargoParaActualizarConsecutivo()"(click)="mensajeDeSeguridad()" -->
        <ion-icon style="color: #02383c;" name="help-buoy" ></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding center text center class="page-login">

  <div text-center>
    <img width="225" height="90" src="assets/imgs/TomzaLogo.png">
  </div>


  <div class="contenedor" >
    <ion-list>
      <ion-item >
        <ion-label>Unidad de Negocio</ion-label>
          <ion-select [(ngModel)]="cedi">
            <ion-option value="Planta Gas Tomza">Gas Tomza</ion-option>
            <ion-option value="Planta Super Gas">Super Gas </ion-option>
            <ion-option value="Planta La Cruz">La cruz</ion-option>
            <ion-option value="Planta Atlantico">Atlantico </ion-option>
            <ion-option value="Planta Perez">Zona Sur</ion-option>
            <!-- <ion-option value="Gran Granel">Gran Granel</ion-option> -->
            <ion-option value="Centros Comerciales">Centros Comerciales</ion-option>
          </ion-select>
      </ion-item>

      <ion-item class="select-ruta" *ngIf="cedi == 'Planta Gas Tomza'">
        <ion-label>Gas Tomza</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>


      <ion-item class="select-ruta" *ngIf="cedi == 'Planta Super Gas'">
        <ion-label>Super Gas</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="select-ruta" *ngIf="cedi == 'Planta La Cruz'">
        <ion-label>La Cruz</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item  class="select-ruta" *ngIf="cedi == 'Planta Atlantico'">
        <ion-label>Atlántico</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item  class="select-ruta" *ngIf="cedi== 'Planta Perez'">
        <ion-label>Zona Sur</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item  class="select-ruta" *ngIf="cedi== 'Gran Granel'">
        <ion-label>Gran Granel</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item  class="select-ruta" *ngIf="cedi== 'Centros Comerciales'">
        <ion-label>Centros Comerciales</ion-label>
        <ion-select [(ngModel)]="idRuta">
          <ion-option *ngFor="let ruta of rutasAPI" value="{{ruta.id}}">{{ruta.nombre}}</ion-option>
        </ion-select>
      </ion-item>

      <div padding >

        <button *ngIf="clientesSQLite.length == 0" class="boton-inicioSis border"  [disabled]="!cedi" ion-button block  (click)="obtenerRutaCedi()">Cargar Rutas</button>
        <button  *ngIf="rutasSQLite.length >= 1 && clientesSQLite.length >=1" class="boton-inicioSis"   color="danger" [disabled]="!cedi" ion-button block  (click)="obtenerLaRutaQueSeCargo()">Cargar Rutas</button>

        <button *ngIf=" clientesSQLite.length == 0" class="boton-inicioSis border"  [disabled]="!idRuta" ion-button block  (click)="llenarSQLite()">Iniciar Sistema</button>
        <button *ngIf=" rutasSQLite.length >= 1 && clientesSQLite.length >=1" color="danger" [disabled]="!idRuta" class="boton-inicioSis" ion-button block  (click)="irAMenuMantenimiento()">Iniciar Sistema</button>


        <!-- <button *ngIf="productosSQLite.length == 0 && clientesSQLite.length == 0 && rutasSQLite.length > 1" class="boton-inicioSis"  [disabled]="!cedi" ion-button block  (click)="obtenerRutaCedi()">Cargar Rutas</button>
        <button *ngIf="productosSQLite.length >= 1 && rutasSQLite.length >= 1 && clientesSQLite.length >=1" color="danger" [disabled]="!idRuta" class="boton-inicioSis" ion-button block  (click)="IrAMenu()">Iniciar Sistema</button> -->
        <!-- <button *ngIf="clientesSQLite.length == 0  && rutasSQLite.length >= 1" class="boton-inicioSis border"  [disabled]="!cedi" ion-button block  (click)="obtenerRutaCedi()">Cargar Rutas</button>
        <button *ngIf="clientesSQLite.length == 0  && rutasSQLite.length >= 1" class="boton-inicioSis border"  [disabled]="!idRuta" ion-button block  (click)="llenarSoloClientes()">Iniciar Sistema</button> -->

        <!-- <button *ngIf="productosSQLite.length > 0 && clientesSQLite.length == 0 && rutasSQLite.length > 0" class="boton-inicioSis1"  [disabled]="!cedi" ion-button block  (click)="obtenerRutasDeSQLite()">Cargar Rutas</button>
        <button *ngIf="productosSQLite.length > 0 && clientesSQLite.length == 0 && rutasSQLite.length > 0" class="boton-inicioSis1"  [disabled]="!idRuta" ion-button block  (click)=" llenarSQLiteProductosClientes()">Iniciar Sistema</button>
       -->
      </div>
    </ion-list>
  </div>


</ion-content>
