<!--
  Generated template for the DepositoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #02383c;">deposito</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2>Deposito</h2>

<form [formGroup] = 'formgroup'>
  <ion-list>
    <!-- <ion-item hidden=true>
      <ion-label>Tipo de Tramite </ion-label>
      <ion-select [(ngModel)]="tipo">
        <ion-option value="deposito">Deposito</ion-option>
      </ion-select>
    </ion-item> -->

    <!-- <ion-item hidden=true>
      <ion-label>Fecha</ion-label>
      <ion-input type="date" [(ngModel)]="fecha"></ion-input>
    </ion-item> -->

    <!-- <ion-item hidden=true>
      <ion-label>Numero de Factura</ion-label>
      <ion-input type="text" [(ngModel)]="factura"></ion-input>
    </ion-item> -->

    <ion-item>
      <ion-label>N° Documento</ion-label>
      <ion-input type="text"  formControlName='documento' ></ion-input>
    </ion-item>
    <ion-item *ngIf="documento.hasError('required') && documento.touched">
      <p class="alerta">*Documento es obligatorio</p>
      <p class="alerta">*No puede dejarlo vacio</p>
    </ion-item>

    <ion-item>
      <ion-label>Banco</ion-label>
      <ion-select  formControlName='banco'>
        <ion-option value="Nacional">Nacional</ion-option>
        <ion-option value="Bac">Bac </ion-option>
        <ion-option value="BCR">BCR </ion-option>
        <ion-option value="Banco Popular">Banco Popular</ion-option>
        <ion-option value="Davivienda">Davivienda</ion-option>
        <ion-option value="Scotiabank">Scotiabank</ion-option>
        <ion-option value="Lafise">Lafise</ion-option>
        <ion-option value="Promerica">Promerica</ion-option>
        <ion-option value="Otro">Otro</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="banco.hasError('required') && banco.touched">
        <p class="alerta">*Banco es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
      </ion-item>

    <ion-item>
      <ion-label>Monto</ion-label>
      <ion-input type="number"  formControlName='monto'></ion-input>
    </ion-item>
    <ion-item *ngIf="monto.hasError('required') && monto.touched">
        <p class="alerta">*Monto es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
        <p class="alerta">*Escribirlo sin puntos y sin comas</p>
    </ion-item>

  </ion-list>
    <!-- <ion-item hidden=true>
      <ion-label>Ruta</ion-label>
      <ion-input type="text" [(ngModel)]="ruta"></ion-input>
    </ion-item>
  </ion-list> -->

  <button ion-button block type="submit" (click)="mensajeDeSeguridad()" [disabled]="!formgroup.valid">Guardar Deposito</button>

</form>


</ion-content>
