<!--
  Generated template for the UbicacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Ubicación</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h4>Datos del Cliente:</h4>
    <h5>Nombre: {{nombre}}</h5>
    <h5>Razon Social: {{razonSocial}}</h5>
    <h5>Codigo: {{codigo}}</h5>
    <h5>Latitud: {{LAT}}</h5>
    <h5>Longitud: {{LONGI}}</h5>

    <a href='https://www.waze.com/ul?ll={{LAT}}%2C{{LONGI}}&navigate=yes&zoom=17'>  <button ion-button >Abrir waze</button></a>

</ion-content>
