<!--
  Generated template for the GastosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Gastos</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <form [formGroup] = 'formgroup'>
    <ion-list>
      <ion-item>
        <ion-label>Tipo de Gasto</ion-label>
        <ion-select formControlName='tipo'>
          <ion-option value="Combustible">Combustible</ion-option>
          <ion-option value="Reparacion">Reparacion Llanta</ion-option>
          <ion-option value="Viaticos">Viaticos</ion-option>
          <ion-option value="Peajes">Peajes</ion-option>
          <ion-option value="Partes">Partes de Transito</ion-option>
          <ion-option value="Parqueo">Parqueo</ion-option>
          <ion-option value="Hospedaje">Hospedaje</ion-option>
          <ion-option value="Remolque">Remolque</ion-option>
          <ion-option value="Otros">Otros</ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="tipo.hasError('required') && tipo.touched">
        <p class="alerta">*Tipo de gasto es obligatorio</p>
        <p class="alerta">*No puede dejarlo vacio</p>
    </ion-item>
      <!-- <ion-item hidden=true>
        <ion-label>Fecha</ion-label>
        <ion-input type="date" [(ngModel)]="fecha"></ion-input>
      </ion-item> -->
      <ion-item>
        <ion-label>N° Factura</ion-label>
        <ion-input type="text" formControlName='factura' ></ion-input>
      </ion-item>
      <ion-item *ngIf="factura.hasError('required') && factura.touched">
          <p class="alerta">*N° de factura es obligatorio</p>
          <p class="alerta">*No puede dejarlo vacio</p>
      </ion-item>
      <ion-item>
        <ion-label>Monto</ion-label>
        <ion-input type="number" formControlName='monto'></ion-input>
      </ion-item>
      <ion-item *ngIf="monto.hasError('required') && monto.touched">
          <p class="alerta">*Monto es obligatorio</p>
          <p class="alerta">*No puede dejarlo vacio</p>
          <p class="alerta">*Escribirlo sin puntos y sin comas</p>
      </ion-item>
      <!-- <ion-item hidden=true>
        <ion-label>Ruta</ion-label>
        <ion-input type="text" [(ngModel)]="ruta"></ion-input>
      </ion-item> -->
    </ion-list>
    <button ion-button block (click)="mensajeDeSeguridad()" [disabled]="!formgroup.valid">Guardar Gasto</button>
</form>
</ion-content>
