<!--
  Generated template for the ClientesNuevosPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
  y su Tanque
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #0747A6;">Cliente nuevo</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <h2>Ingresar Datos del Cliente</h2>
    <p>Instrucciones: El descuento lo aplican en planta</p>
    <p>Para que habiliten el cliente llamar al 6478-54-92, 6224-93-74, ó al 2201-60-00</p>

   
    <ion-item >
        <ion-label>Lat</ion-label>
        <ion-input type="text" [(ngModel)]="lat" value="{{miLat}}" disabled></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Long</ion-label>
        <ion-input type="text" [(ngModel)]="long" value="{{miLong}}" disabled></ion-input>
    </ion-item>



  <form [formGroup] = 'formgroup'>
    <ion-list>
      <ion-item>
        <ion-label>Nombre Negocio</ion-label>
        <ion-input type="text"  formControlName="nombreNegocio"></ion-input>
      </ion-item>
      <ion-item *ngIf="nombreNegocio.hasError('required') && nombreNegocio.touched"> 
          <p class="alerta">*Nombre negocio es obligatorio</p>     
          <p class="alerta">*No puede dejarlo vacio</p> 
      </ion-item>

      <ion-item>
        <ion-label>Razon Social</ion-label>
        <ion-input type="text" formControlName="razonSocial" ></ion-input>
      </ion-item>
      <ion-item *ngIf="razonSocial.hasError('required') && razonSocial.touched"> 
          <p class="alerta">*Razon Social es obligatorio</p>  
          <p class="alerta">*No puede dejarlo vacio</p>    
      </ion-item>

      <ion-item>
        <ion-label>Telefono 1:</ion-label>
        <ion-input type="text" formControlName="especial" ></ion-input>
      </ion-item>
      <ion-item *ngIf="especial.hasError('required') && especial.touched"> 
          <p class="alerta">*Telefono es obligatorio</p>  
          <p class="alerta">*No puede dejarlo vacio</p>    
      </ion-item>

      <ion-item>
        <ion-label>Telefono 2:</ion-label>
        <ion-input type="text" formControlName="telefonoFijo" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Telefono 3:</ion-label>
        <ion-input type="text" formControlName="telefonoOpcional" ></ion-input>
      </ion-item>
     
      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input type="text" formControlName="correo" ></ion-input>
      </ion-item>
      <ion-item *ngIf="correo.hasError('required') && correo.touched"> 
          <p class="alerta">*Correo es obligatorio</p>  
          <p class="alerta">*No puede dejarlo vacio</p>    
      </ion-item>
      <ion-item>
        <ion-label>Tipo de Documento</ion-label>
          <ion-select formControlName="tipodoc">
            <ion-option value="1">Fisica</ion-option>
            <ion-option value="2">Juridica</ion-option>
            <ion-option value="3">Dimex</ion-option>
            <ion-option value="4">Nite</ion-option>      
          </ion-select>
      </ion-item>
      <ion-item>
        <ion-label>Documento:</ion-label>
        <ion-input type="text" formControlName="documento" ></ion-input>
      </ion-item>
      <ion-item *ngIf="documento.hasError('required') && documento.touched"> 
        <p class="alerta">*Documento es obligatorio</p>  
        <p class="alerta">*No puede dejarlo vacio</p>    
    </ion-item>

<!--
      <ion-item>
        <ion-label>Serie Tanque:</ion-label>
        <ion-input type="text" formControlName="numSerie" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Capacidad Litros:</ion-label>
        <ion-input type="number" formControlName="capacidadlitros" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Número Contrato:</ion-label>
        <ion-input type="text" formControlName="numcontrato" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Marca Tanque:</ion-label>
        <ion-input type="text" formControlName="marcaTanque" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Fabricante:</ion-label>
        <ion-input type="text" formControlName="fabricante" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Propietario del Tanque</ion-label>
          <ion-select formControlName="contratoActivo">
            <ion-option value="Propio">Propio</ion-option>
            <ion-option value="TOMZA">TOMZA</ion-option>
            <ion-option value="Petro">Petro</ion-option>
            <ion-option value="zeta">zeta</ion-option>
            <ion-option value="blue flame">Blue falme</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Posición Tanque</ion-label>
          <ion-select formControlName="posicionTanque">
            <ion-option value="horizontal">Horizontal</ion-option>
            <ion-option value="vertical">Vertical</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Estado del tanque</ion-label>
          <ion-select formControlName="estado">
            <ion-option value="1">Obsoleto</ion-option>
            <ion-option value="2">Buen estado</ion-option>
            <ion-option value="3">Excelente estado</ion-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label>Fecha fabricación:</ion-label>
        <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Seleccione una fecha"  formControlName="fechafabricacion"></ion-datetime>
      </ion-item>

      <ion-item>
        <ion-label>Provincia:</ion-label>
        <ion-select (ionChange) ="cambio($event)" formControlName="provincia"> 
          <ion-option value="3">Cartago</ion-option>
          <ion-option value="1">San José</ion-option>
          <ion-option value="2">Alajuela</ion-option>
          <ion-option value="4">Heredia</ion-option>
          <ion-option value="6">Puntarenas</ion-option>
          <ion-option value="5">Guanacaste</ion-option>
          <ion-option value="7">Limón</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="pro != 9">
        <ion-label >Cantón:</ion-label>
        <ion-select (ionChange) ="cambioCanton($event)" formControlName="canton">
          <ion-option *ngFor="let canton of cantones" value="{{canton.id}}">{{canton.canton}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item *ngIf="can != 83">
        <ion-label>Distrito:</ion-label>
        <ion-select (ionChange) ="cambioDistrito($event)" formControlName="distrito">
            <ion-option *ngFor="let distrito of distritos" value="{{distrito.id}}">{{distrito.distrito}}</ion-option>
        </ion-select>
      </ion-item>
      -->
      <ion-item>
        <ion-label>Subcanal</ion-label>
          <ion-select formControlName="subcanal">
            <ion-option value="0">Cadenas Supermecados</ion-option>
            <ion-option value="1">Supermercados Independientes</ion-option>
            <ion-option value="2">Cadenas Comidas Rápidas</ion-option>
            <ion-option value="3">Tiendas Mixtas</ion-option>
            <ion-option value="4">Tiendas Express</ion-option>
            <ion-option value="5">Supermercados Chinos</ion-option>
            <ion-option value="6">Licoreras</ion-option>
            <ion-option value="7">Pulperias</ion-option>
            <ion-option value="8">Hoteles</ion-option>
            <ion-option value="9">Restaurantes</ion-option>
            <ion-option value="10">Bares</ion-option>
            <ion-option value="11">Sodas</ion-option>
            <ion-option value="12">Panaderías</ion-option>
            <ion-option value="13">Carnicerías</ion-option>
            <ion-option value="14">Ferreterias</ion-option>
            <ion-option value="15">Insdustrial</ion-option>
            <ion-option value="16">Doméstico VIP</ion-option>
            <ion-option value="17">Industria</ion-option>
            <ion-option value="18">Estacion de Servicio</ion-option>  
            <ion-option value="19">Granjas</ion-option>         
          </ion-select>
      </ion-item>
      <ion-item *ngIf="subcanal.hasError('required') && subcanal.touched"> 
        <p class="alerta">*Subcanal es obligatorio</p>  
        <p class="alerta">*No puede dejarlo vacio</p>    
      </ion-item>

      <ion-item>
        <ion-label>Tipo de Visita</ion-label>
          <ion-select formControlName="tipoVisita">
            <ion-option value="0">Semanal</ion-option>
            <ion-option value="1">Quincenal</ion-option>
            <ion-option value="2">Mensual</ion-option>
            <ion-option value="3">Por llamada</ion-option>
            <ion-option value="5">Trimestral</ion-option>      
          </ion-select>
      </ion-item>
      <ion-item *ngIf="tipoVisita.hasError('required') && tipoVisita.touched"> 
        <p class="alerta">*El tipo de visita es obligatorio</p>  
        <p class="alerta">*No puede dejarlo vacio</p>    
      </ion-item>

      

     <ion-grid>
        <p>Dias visita</p>
        <ion-row>
          <ion-col col-6>
              <ion-item>
                <ion-label stacked color="primary">Lunes</ion-label>
                    <ion-select formControlName="L">
                      <ion-option value="0" selected="true">No</ion-option>
                      <ion-option value="1">Si</ion-option>       
                    </ion-select>
                </ion-item>
          </ion-col> 
          <ion-col col-6>
              <ion-item>
              <ion-label stacked color="primary">Martes</ion-label>
              <ion-select formControlName="K">
                <ion-option value="0" selected="true">No</ion-option>
                <ion-option value="1">Si</ion-option>       
              </ion-select>
          </ion-item>      
          </ion-col>
          <ion-col col-6>
              <ion-item>
                <ion-label stacked color="primary">Miercoles</ion-label>
                <ion-select formControlName="M">
                <ion-option value="0" selected="true">No</ion-option>
                <ion-option value="1">Si</ion-option>       
                </ion-select>
          </ion-item>
          </ion-col>
          <ion-col col-6>
              <ion-item>
                <ion-label stacked color="primary">Jueves</ion-label>
                <ion-select formControlName="J">
                  <ion-option value="0" selected="true">No</ion-option>
                  <ion-option value="1">Si</ion-option>       
              </ion-select>
          </ion-item>   
          </ion-col>
          <ion-col col-6>
              <ion-item>
                <ion-label stacked color="primary">Viernes</ion-label>
                <ion-select formControlName="V">
                  <ion-option value="0" selected="true">No</ion-option>
                  <ion-option value="1">Si</ion-option>       
                </ion-select>
              </ion-item>
          </ion-col>
          <ion-col col-6>
            <ion-item>
              <ion-label  stacked color="primary">Sábado</ion-label>
              <ion-select formControlName="S">
                <ion-option value="0" [selected]="true">No</ion-option>
                <ion-option value="1">Si</ion-option>       
              </ion-select>
            </ion-item>      
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-list>

    <button ion-button block (click)="eventos()" [disabled]="!formgroup.valid">Ingresar Datos Cliente</button>

  </form>
    <br>
    <br>
    <ion-list>

      <h2>Clientes para Enviar</h2>

        <ion-item-sliding *ngFor="let cliente of clientesNuevos" >

          <ion-item>
              <div *ngIf="cliente.enviado === 1" class="enviada">
                  <h2>{{cliente.nombre}}</h2>
                  <p>{{cliente.razon}}</p>
                </div>

                <div *ngIf="cliente.enviado === 0">
                  <h2>{{cliente.nombre}}</h2>
                  <p>{{cliente.razon}}</p>
                </div>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="enviarCliente(cliente)">
              <ion-icon name="send"></ion-icon> Enviar</button>
          </ion-item-options>
        </ion-item-sliding>
    </ion-list>
</ion-content>
