<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-item>
      <ion-input type="text" placeholder="Información" [(ngModel)]="qrData"></ion-input>
  </ion-item>
  <button ion-button full (click)="crearCodigo()"><ion-icon name="barcode"></ion-icon> Crear código</button>
  <button ion-button full (click)="escanearCodigo()"><ion-icon name="qr-scanner"></ion-icon> Escanear código</button>
  <button ion-button full (click)="tomarFoto()"><ion-icon name="camera"></ion-icon>Tomar foto</button>

  <ion-card *ngIf="createdCode">
    <ngx-qrcode [qrc-value]="createdCode"></ngx-qrcode>
    <ion-card-content>
      <p>Value: {{createdCode}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Resultado del scan: {{scannedCode}}
      <p>Codigo: {{cod}}</p>
      <p>Nombre: {{name}}</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <p><img src="{{myPhoto}}"></p>
  </ion-card>


  <button ion-button class="cuadrobotonm">
    <ion-icon name="md-flame" class="menumantenimientos imagenmoob"></ion-icon>
    <div class="textocuadrom">Menu</div>
  </button>
</ion-content>
