<!--
  Generated template for the MenuMantenimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton >
    <ion-title><h3 style="color: #02383c;text-align: center">Menu Mantenimiento</h3></ion-title>
    <ion-buttons end >
      <button  ion-button icon-only  (click)="mensajeDeSeguridad2()" style="color:rgb(16, 155, 155);">
        <ion-icon name="md-refresh-circle"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end >
      <button  ion-button icon-only  (click)="envios()" (click)="mensajeDeSeguridad()" style="color:rgb(155, 16, 16);">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="fondo">
  <ion-grid class="fondo">
    <ion-row>

    <!-- <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="irANuevoMantenimiento()" >
          <ion-icon name="hammer" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Arreglo</div>
        </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button class="cuadrobotonm" (click)="escanearCodigo()">
          <ion-icon name="reorder" class="menumantenimientos imagenmoob"></ion-icon>
          <div class="textocuadrom">Nuevo Tanque</div>
        </button>
      </ion-col>
      <ion-col col-6>
          <button ion-button class="cuadrobotonm" (click)="irMantenimientos()" >
            <ion-icon name="list" class="menumantenimientos imagenmoob"></ion-icon>
            <div class="textocuadrom">Arreglos DÍa</div>
          </button>
        </ion-col>
        <ion-col col-6>
            <button ion-button class="cuadrobotonm" (click)="irTanques()" >
              <ion-icon name="list" class="menumantenimientos imagenmoob"></ion-icon>
              <div class="textocuadrom">Tanques</div>
            </button>
        </ion-col> -->

        <br>
        <br>
        <button class="btn-menu" ion-button icon-start (click)="irAclientesMante()">
          <ion-icon class="icon-color" name="hammer"></ion-icon>
          Mantenimiento
        </button>
        <br>
        <!-- <button class="btn-menu" ion-button icon-start (click)="escanearCodigoMantenimiento()">
            <ion-icon class="icon-color" name="md-qr-scanner"></ion-icon>
            Mantenimiento QR
        </button>
          <br> -->
        <button class="btn-menu" ion-button icon-start (click)="irMantenimientos()">
              <ion-icon class="icon-color" name="ios-list"></ion-icon>
              Lista Mantenimientos
        </button>

          <br>
        <button class="btn-menu" ion-button icon-start (click)="irRegistroTanque()">
          <ion-icon class="icon-color" name="md-speedometer"></ion-icon>
          Nuevo Tanque Manual
        </button>
        <br>
        <!-- <button class="btn-menu" ion-button icon-start (click)="escanearCodigo()">
          <ion-icon class="icon-color" name="md-expand"></ion-icon>
          Nuevo Tanque QR
        </button>
          <br> -->
        <button class="btn-menu" ion-button icon-start (click)="irTanques()">
          <ion-icon class="icon-color" name="md-list"></ion-icon>
          Lista Tanques
        </button>
    </ion-row>
</ion-grid>
</ion-content>
