.titulohome{
    color:#1F2434 !important;
    text-align: center;
    }

    .h1{
      font-size: 25px !important;
    }

    .toolbar-background{
      background: rgba(255,255,255,1) !important;
      background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)))!important;
      background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
    }


    .botonhome{
      height: 35px !important;
      width: 100%;
      background-color:#02383c !important;
      font-size: 15px !important;
      color: rgba(255,255,255,1) !important;
      color: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      color: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)))!important;
      color: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      color: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      color: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;
      color: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%)!important;

    }
.btn-menu{
  width: 100% !important;
  height: 50px;
  border-bottom: solid 2px rgb(243, 220, 15) !important;
}

.fondo{
background-color: black;
}



.icon-color{
  color: rgb(243, 220, 15);
}

    .menumantenimientos{
      position: absolute;
      // left: 32px;
      top: 19%;
    }

    // .textocuadrom{
    //   background: #1F2434;
    //   width: 100%;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   color: #fff;
    //   text-align: center;
    //   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
    //   font-size: 15px;
    //   line-height: 28px;
    //   height: 28px;
    // }

    // .imagenmoob{
    //   color: #095d63 !important;
    //   //padding-left: 9%;
    //   // font-size:5em;
    //   // margin-left: auto;
    //   // margin-right: auto;
    // }

    // .cuadrobotonm{
    //   position: relative;
    //   border: 1px solid #1F2434;
    //   background: rgba(255,255,255,1);
    //   background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    //   background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(100%, rgba(236,236,236,1)));
    //   background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    //   background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    //   background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    //   background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 100%);
    //   filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ececec', GradientType=0 );
    //   width: 40vw;
    //   height: 25vh;
    //   font-size: 4em;
    //   box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.16);
    //   border-radius: 0px 0px 25px 25px;
    // }
    .section{
      display: inline-block;
    }
    .section2{
      display: inline-block;
    }
    .section:hover .imagenmoob {
      color: rgb(31, 42, 196);
    }
    .section:hover .textocuadrom{
      background: rgb(14, 49, 146);

    }
    .alinearElemento{
      height: 100px;
    }

    .buttons-components-page {

      ion-card {
        margin-bottom: 2em;
      }

      ion-card-content {
        background-color: #F4F5F8;
      }

      ion-card img {
        width: auto;
        height: 44px;
        display: block;
        margin: 20px auto;
      }

    }
