<ion-header>
    <ion-navbar>
      <ion-title class="titulohome">
        <h3 style="color: #02383c;">Tanques</h3>
      </ion-title>
      <button ion-button menuToggle style="color:#fff;">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>
      
    <h2 *ngIf="tanquesSQLite.length == 0">No ha ingresado tanques en el día</h2>
  <ion-list>
    
    <ion-item-sliding *ngFor="let tanque of tanquesSQLite" >
      
      <ion-item>
        <ion-card *ngIf="tanque.enviado === 1" class="enviado">
          <p>Serie: {{tanque.numserie}}</p>
          <p>Propietario: {{tanque.propietario}}</p>
        </ion-card>
       
        <ion-card *ngIf="tanque.enviado === 0" class="noEnviado">
          <p>Serie: {{tanque.numserie}}</p>
          <p>Propietario: {{tanque.propietario}}</p>
        </ion-card>
      
      </ion-item>
      <ion-item-options side="right">
        <button ion-button color="secondary" (click)="enviarTanque(tanque)" >
          <ion-icon name="send"></ion-icon>
          Enviar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
