<!--
  Generated template for the ImprimirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

  Generated template for the ImprimirPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar hideBackButton="true">
    <ion-title class="titulohome">Imprimir</ion-title>
    <ion-buttons end >
      <button ion-button *ngIf="contadorImpresion > 0" (click)="IrAMenu()">
        Ir a menú
      </button>

      <button ion-button *ngIf="contadorImpresion === 0" disabled  (click)="IrAMenu()">
        Ir a menú
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <h2 class="text-center">Imprimir</h2>
        </ion-col>
        <ion-col col-6>
          <ion-buttons end >
            <button ion-button *ngIf="contadorImpresion > 0" (click)="IrAMenu()">
              Ir a menú
            </button>

            <button ion-button *ngIf="contadorImpresion === 0" disabled  (click)="IrAMenu()">
              Ir a menú
            </button>
          </ion-buttons>
        </ion-col>
      </ion-row>
    </ion-grid> -->

  <!-- </ion-item> -->
  <ion-list>
    <p>Fecha: {{fecha}}</p>
    <p>TOM: {{TOM}}</p>
    <p>Nombre: {{nombre}}</p>
    <p>Razón Social:{{razon_social}}</p>
    <p>Código Cliente: {{codigo}}</p>
    <p>Ruta: {{ruta}}</p>


    <p>Productos:</p>
    <ion-grid>
      <ion-row>
        <ion-col col-3>
          <h6>Cant</h6>
        </ion-col>
        <ion-col col-3>
          <h6>Art</h6>
        </ion-col>
        <ion-col col-3>
          <h6>P.Uni</h6>
        </ion-col>
        <ion-col col-3>
          <h6>Total</h6>
        </ion-col>
      </ion-row>
    </ion-grid>
  <ion-grid>
      <ion-row *ngFor="let item of productos">
        <ion-col col-2>
          {{item.cantidad}}
        </ion-col>
        <ion-col col-3>
          {{item.detalle}}
      </ion-col>
      <ion-col col-3>
        ₡ {{item.precioUnitario}}
      </ion-col>
      <ion-col col-4>
        ₡ {{item.montoTotalLinea}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-list>
<p>Total: ₡ {{total}}</p>
<button ion-button full (click)="impresionOriginal(inputData)" >Imprimir</button>
<button  *ngIf='credito==0' ion-button full class="buttonTramite" (click)="prepareToPrintTramite(inputData)" >Imprimir Tramite </button>
<button  *ngIf='credito==0' ion-button full class="buttonTramite" (click)="prepareToPrintTramiteCopy(inputData)" >Imprimir Tramite Copia </button>
<button ion-button full class="buttonCopy" (click)="impresionCopias(inputData)">Imprimir Copia </button>


</ion-content>
