<!--
  Generated template for the BancoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #02383c;">Banco</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>
    <br>
    <br>
    <br>
    <h2 *ngIf="facturasSQLite.length == 0">No se han hecho facturas en el día</h2>
  <ion-list>

    <ion-item-sliding *ngFor="let factura of facturasSQLite | facturas : terms" >

      <ion-item  (click)="IrATransacciones(factura)">
        <!-- <div *ngIf="factura.ruta === '0'" class="resaltado1">
          {{ factura.facnumero }}
          <p>{{factura.nombre}}</p>
          <p>Monto: ₡{{ factura.total }}</p>
        </div> -->

        <div *ngIf="factura.ruta !== '0'" >
            {{ factura.facnumero }}
            <p>{{factura.nombre}}</p>
            <p>Monto: ₡{{ factura.total }}</p>
        </div>
      </ion-item>
      <!-- <ion-item-options side="right">
        <button ion-button color="blue">
          <ion-icon name="close"></ion-icon>
          Opciones
        </button>
      </ion-item-options> -->
    </ion-item-sliding>
  </ion-list>
</ion-content>
