<ion-header>
    <ion-navbar>
      <ion-title >
        Clientes
      </ion-title>
      <button ion-button menuToggle style="color:#fff;">
        <ion-icon name="md-menu"></ion-icon>
      </button>
    </ion-navbar>
  </ion-header>

  <ion-content padding>

        <!-- <div pading [(ngModel)]="clientes">
            <ion-segment #segment>
              <ion-segment-button value="rol">
                Rol del día
              </ion-segment-button>
              <ion-segment-button value="clients">
                Clientes
              </ion-segment-button>
            </ion-segment>
        </div> -->



    <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>

    <!-- <div [ngSwitch]="clientes"> -->
      <ion-list > 
        <ion-item-sliding *ngFor="let cliente of clientesSQLite | filtro : terms">
          <ion-item ion-item (click)="iranuevoTanque(cliente)" >
            {{ cliente.nombre }}-{{cliente.codigo}}
          </ion-item>
          <!-- <ion-item-options side="right">
              <button ion-button color="danger" (click)="noCompra(cliente)">
                <ion-icon name="close"></ion-icon>
                No Compra
              </button>
          </ion-item-options> -->
          <ion-item-options side="left">
              <button ion-button color="primary" (click)="iraUbicacion(cliente)">
                <ion-icon name="map"></ion-icon>
                ir al Cliente
              </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    <!-- </div> -->
    <!-- <div [ngSwitch]="clientes">
        <ion-list *ngSwitchCase="'rol'">
          <ion-item-sliding *ngFor="let cliente of clientesRolSQLite | filtro : terms">
            <ion-item ion-item (click)="iranuevoTanque(cliente)">
                <div *ngIf="cliente.hizoFactura === 1 && cliente.hizoMotivo === 0" class="hizoFactura">
                  <p>    </p>
                    {{ cliente.nombre }}-{{cliente.codigo}}
                  <p>    </p>
                </div>

                <div *ngIf="cliente.hizoMotivo === 2 && cliente.hizoFactura === 0" class="hizoMotivo">
                  <p>   </p>
                    {{ cliente.nombre }}-{{cliente.codigo}}
                  <p>    </p>
                </div>

                <div *ngIf="cliente.hizoMotivo === 0 && cliente.hizoFactura === 0" >
                    <p>   </p>
                      {{ cliente.nombre }}-{{cliente.codigo}}
                    <p>    </p>
                </div>

            </ion-item>
            <ion-item-options side="right">
                <button ion-button color="danger" (click)="noCompra(cliente)">
                  <ion-icon name="close"></ion-icon>
                  No Compra
                </button>
            </ion-item-options>
          <ion-item-options side="left">
            <button ion-button color="primary" (click)="iraUbicacion(cliente)">
              <ion-icon name="map"></ion-icon>
              ir al Cliente
            </button>

        </ion-item-options>
          </ion-item-sliding>
        </ion-list>
    </div> -->
  </ion-content>
