.page-login {
    //background-image: url(../../assets/imgs/dirty-pattern-paint-room-block_1203-5709.jpg);
    background-color: #02383c !important;
    overflow-x:hidden;
    overflow-y:hidden;
    }

.imagen{
    padding-top: 50px;
    width: 290;
    height: 113;
}

.contenedor{
    margin-top: 30px;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: rgba(0,0,0,0.5);
    border: solid 2px;
    border-color:#02383c;
}

.select-ruta{
    margin-top:15px;
}

.border{
  border-bottom: 5px solid #ea0bc5;
}

.boton-inicioSis{
    border: solid 1px;
    border-bottom-color: aliceblue;

}

.boton-inicioSis1{
    border: solid 1px;
    border-bottom-color: aliceblue;
    background-color: green;
}

.titulohome{
    text-align: center;
}


  ion-card {
    //position: relative;
    //display: flex;
    text-align: center;
    width: 80%;
  }

  .card-title {
    //position: absolute;
    top: 36%;
    font-size: 1.5em;
    //width: 100%;
    font-weight: bold;
    color: black;
  }

  .card-title1 {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: white;
  }

  .card-subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: black;
  }
