<!--
  Generated template for the FacturacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>facturacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--<button ion-button (click)="postData">Post Data</button>-->
  <h4>TOM: {{TOM}}</h4>

  <h4>Cliente:</h4>
  <p>Nombre: {{nombreCliente}}</p>
  <p>Razon Social: {{razonCliente}}</p>
  <p>Codigo: {{codigoCliente}}</p>

  <ion-item>
    <ion-label>Descuento: {{descuento}}</ion-label>
  </ion-item>

  <ion-item>
    <ion-label *ngIf="credito=== '0'">Forma de pago: Credito </ion-label>
    <ion-label *ngIf="credito=== '1'">Forma de pago: Contado </ion-label>
  </ion-item>




  <ion-item hidden=true>
    <ion-label>Geo</ion-label>
    <ion-input type="text" [(ngModel)]="LAT" name="LAT" placeholder="Latitude"></ion-input>
    <ion-input type="text" [(ngModel)]="LONGI" name="LONGI" placeholder="Longitude"></ion-input>
  </ion-item>

  <ion-item hidden=true>
    <ion-label>G</ion-label>
    <ion-input type="text" [(ngModel)]="g"></ion-input>
  </ion-item>


  <ion-list *ngIf="credito == 0" hidden>
    <ion-item>
      <ion-label>Medio de pago</ion-label>
      <ion-select [(ngModel)]="efectivo">
        <ion-option value="1">Transferencia</ion-option>
        <ion-option value="2">Cheque </ion-option>
        <ion-option value="3">Tarjeta </ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="efectivo == 1">
      <ion-label>Monto Transferencia</ion-label>
      <ion-input type="text" [(ngModel)]="transmonto"></ion-input>
    </ion-item>
    <ion-item *ngIf="efectivo == 1">

      <ion-label>Banco</ion-label>
      <ion-select [(ngModel)]="chkbanco">
        <ion-option value="c">Nacional</ion-option>
        <ion-option value="j">Bac </ion-option>
        <ion-option value="q">BCR</ion-option>
        <ion-option value="p">Otros</ion-option>
      </ion-select>
    </ion-item>


    <ion-item *ngIf="efectivo == 1">
      <ion-label>Numero de Transferencia</ion-label>
      <ion-input type="text" [(ngModel)]="transnumero"></ion-input>

    </ion-item>
    <ion-item *ngIf="efectivo == 2">
      <ion-label>Numero de Cheque</ion-label>
      <ion-input type="text" [(ngModel)]="chknumero"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label *ngIf="efectivo == 2"> Monto Cheque</ion-label>
      <ion-input type="text" [(ngModel)]="chkmonto"></ion-input>
    </ion-item>


  </ion-list>
  <!-- <ion-item>
    <ion-label>Precio anterior</ion-label>
  </ion-item>
  <ion-item>
    <ion-toggle color="danger" [(ngModel)]="precioviejo"></ion-toggle>
  </ion-item> -->

  <ion-grid>
    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-toggle color="danger" [(ngModel)]="precioviejo" (ionChange)="cambio()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label> Precio anterior</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col col-4>
        <ion-item>
          <ion-toggle color="danger" [(ngModel)]="consolidado" (ionChange)="cambioConsolidado()"></ion-toggle>
        </ion-item>
      </ion-col>
      <ion-col col-8>
        <ion-item>
          <ion-label>Consolidar tanques</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <h4>Productos</h4>

  <!-- Grid de botones -->
  <!-- <ion-grid>
      <ion-row>
        <ion-col col-4>
          <button class="boton-producto" ion-button block (click)="getProducto(1)">10</button>
        </ion-col>
        <ion-col col-4>
          <button class="boton-producto" ion-button block (click)="getProducto(2)">10 R</button>
        </ion-col>
        <ion-col col-4>
          <button class="boton-producto" ion-button block (click)="getProducto(3)">20</button>
        </ion-col>
        <ion-col col-4>
          <button class="boton-producto" ion-button block (click)="getProducto(3)">25</button>
        </ion-col>
        <ion-col col-4>
          <button class="boton-producto" ion-button block (click)="getProducto(5)">25 R</button>
        </ion-col>
        <ion-col col-4>
            <button class="boton-producto" ion-button block (click)="getProducto(6)">35</button>
        </ion-col>
        <ion-col col-4>
            <button class="boton-producto" ion-button block (click)="getProducto(7)">45</button>
        </ion-col>
        <ion-col col-4>
            <button class="boton-producto" ion-button block (click)="getProducto(8)">60</button>
          </ion-col>
          <ion-col col-4>
            <button class="boton-producto" ion-button block (click)="getProducto(9)">60 R</button>
          </ion-col>
          <ion-col>
            <button class="boton-producto" ion-button block (click)="getProducto(10)">100</button>
          </ion-col>
      </ion-row>
    </ion-grid>

    <h2>Granel</h2>
    <ion-grid>
        <ion-row>
            <ion-col col-6>
              <button class="boton-producto" ion-button block (click)="getProducto(11)">Litros</button>
            </ion-col>
            <ion-col col-6>
                <button class="boton-producto" ion-button block (click)="getProducto(12)">kilos</button>
            </ion-col>
            <ion-col>
                <button class="boton-producto" ion-button block (click)="getProducto(13)">Carburación</button>
            </ion-col>
        </ion-row>
    </ion-grid> -->

  <ion-item offset-sm *ngIf="act == 'true'">
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let item of productosSQLite">
          <button
            *ngIf="item.producto != 'Q25r' && item.producto != 'Q100' && item.producto != 'Q10r' && item.producto != 'Q60r'"
            class="boton-producto" ion-button block (click)="consolidadoONo(item.id)">{{item.producto}}</button>

          <button *ngIf="item.producto === 'Q10r'" class="boton-producto2" ion-button block
            (click)="consolidadoONo(item.id)">{{item.producto}}</button>

          <button *ngIf="item.producto === 'Q25r'" class="boton-producto2" ion-button block
            (click)="consolidadoONo(item.id)">{{item.producto}}</button>

          <button *ngIf="item.producto === 'Q60r'" class="boton-producto2" ion-button block
            (click)="consolidadoONo(item.id)">{{item.producto}}</button>

          <button *ngIf="item.producto === 'Q100'" class="boton-producto2" ion-button block
            (click)="consolidadoONo(item.id)">{{item.producto}}</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>

  <h5 *ngIf="act == 'false'" style="color:#FF0000">Cliente Moroso por el motivo: {{comentario}}</h5>

  <h4>Detalle</h4>
  <ion-grid>
    <ion-row>
      <ion-col col-2>
        <h6>Cant</h6>
      </ion-col>
      <ion-col col-4>
        <h6>Prod</h6>
      </ion-col>
      <ion-col col-4>
        <h6>Total</h6>
      </ion-col>
      <ion-col col-2>
        <h6>X</h6>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let producto of productosSeleccionados">
      <ion-col col-2>
        {{producto.cantidad}}
      </ion-col>
      <ion-col col-4>
        {{producto.detalle}}
      </ion-col>
      <ion-col col-4>
        ₡ {{producto.montoTotal}}
      </ion-col>
      <ion-col col-2>
        <ion-badge item-end class="badge" color="danger" (click)="eliminarLinea(producto.detalle)">X</ion-badge>
      </ion-col>
    </ion-row>
  </ion-grid>



  <ion-item>
    <h2>--------------------------------------------------</h2>
    <h2>Total: ₡ {{totalFinalDecimales}}</h2>
    <h2>Total con descuento: ₡ {{decimales}}</h2>
    <h2>--------------------------------------------------</h2>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-label>Orden de compra</ion-label>
      <ion-select [(ngModel)]="oc">
        <ion-option selected value="no">No</ion-option>
        <ion-option value="si">Si</ion-option>
      </ion-select>
    </ion-item>

    <ion-item *ngIf="oc === 'si'">
      <ion-label>Número OC</ion-label>
      <ion-input type="text" [(ngModel)]="numOC" required></ion-input>
    </ion-item>
  </ion-list>
  <ion-list>

    <!-- <h2>Granel</h2>
     <ion-item>

     <ion-label >Litros</ion-label>
       <ion-input type="number" [(ngModel)]="qlts"></ion-input>
     </ion-item>
     <ion-item>
         <ion-label>Kilos</ion-label>
       <ion-input type="number" [(ngModel)]="qkgs"></ion-input>
     </ion-item> -->

    <button *ngIf="productosSeleccionados.length == 0" disabled class="boton-guardarF" ion-button block
      (click)="mensajeDeSeguridad()">Generar Factura</button>
    <button *ngIf="productosSeleccionados.length > 0" class="boton-guardarF" ion-button block
      (click)="mensajeDeSeguridad()">Generar Factura</button>
  </ion-list>
</ion-content>
