<!--
  Generated template for the ImprimirMantePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Imprimir Mantenimiento</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

    <p>Nombre: {{nombre}}</p>
    <p>Razon Social: {{razon}}</p>
    <p>Codigo: {{codigo}}</p>
<label for="">Trabajos realizados: {{trabajos}}</label>
<label for="">Obervaciones: {{observaciones}}</label>
<label for="">Fecha valvula: {{fechavalvula}}</label>
<br>
  <button ion-button (click)="prepareToPrint(inputData)" >Imprimir</button>
  <br>
  <button ion-button (click)="prepareToPrintCopia(inputData)" >Imprimir Copia</button>
  <br>
  <button ion-button (click)="IrAMenu()">Volver</button>
</ion-content>
