<!--
  Generated template for the CierrePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #02383c;">Cierre</h3></ion-title>

    <ion-buttons end >
      <button ion-button icon-only (click)="actualizarRuta()" (click)="limpiayactualizacion()">
        <ion-icon name="md-trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <button ion-button full  class="enviarTodo buttonCopy" (click)="actualizarRuta()" (click)="envios()" (click)="mensajeDeSeguridadEnvio()">Enviar datos</button>

    <br>
    <h2 *ngIf="facturasSQLite.length == 0">No se han hecho facturas en el día</h2>
  <ion-list>
    <div><h3>Total:₡{{totalFinal}}</h3></div>
    <div><h3>Total Credito:₡{{totalFinalCredito}}</h3></div>
    <div><h3>Total Contado:₡{{totalFinalContado}}</h3></div>
    <div><h3>Total Gastos: ₡{{totalGastos}}</h3></div>
    <div><h3>Total General: ₡{{final}}</h3></div>


    <br>
    <!-- <p >Cilindros 10 Presion: {{totalq10}}</p>
    <p >Cilindros 10 Rosca: {{totalq10r}}</p>
    <p >Cilindros 20 Presion: {{totalq20}}</p>
    <p >Cilindros 25 Presion: {{totalq25}}</p>
    <p >Cilindros 25 Rosca: {{totalq25r}}</p>
    <p >Cilindros 30 Presion: {{totalq30}}</p>
    <p >Cilindros 35 Presion: {{totalq35r}}</p>
    <p >Cilindros 40 Presion: {{totalq40}}</p>
    <p >Cilindros 45 Presion: {{totalq45r}}</p>
    <p >Cilindros 60 Presion: {{totalq60}}</p>
    <p >Cilindros 60 Rosca: {{totalq60r}}</p>
    <p >Cilindros 100 Presion: {{totalq100}}</p>
    <p >Total Litros : {{totallts}}</p>
    <p >Total Kilos : {{totalkgs}}</p> -->
    <ion-grid>
        <ion-row>
          <ion-col col-6>
              10 Rosca: {{totalq10r}}
          </ion-col>
          <ion-col col-6>
              20 Presion: {{totalq20}}
          </ion-col>
          <ion-col col-6>
              25 Presion: {{totalq25}}
          </ion-col>
          <ion-col col-6>
              25 Rosca: {{totalq25r}}
          </ion-col>
          <ion-col col-6>
              30 Presion: {{totalq30}}
          </ion-col>
          <ion-col col-6>
              35 Presion: {{totalq35r}}
          </ion-col>
          <ion-col col-6>
              40 Presion: {{totalq40}}
          </ion-col>
          <ion-col col-6>
              45 Presion: {{totalq45r}}
          </ion-col>
          <ion-col col-6>
              50 Presion: {{totalq60}}
          </ion-col>
          <ion-col col-6>
              60 Rosca: {{totalq60r}}
          </ion-col>
          <ion-col col-6>
              100 Ros: {{totalq100}}
          </ion-col>
          <ion-col col-6>
              Litros : {{totallts}}
          </ion-col>
          <ion-col col-6>
              Kilos : {{totalkgs}}
          </ion-col>

        </ion-row>
    </ion-grid>

    <h2 *ngIf="facturasSQLite.length != 0">Facturas</h2>
    <ion-item-sliding *ngFor="let factura of facturasSQLite" >

      <ion-item>
        <div *ngIf="factura.ruta === '0'" class="resaltado1">
            {{factura.nombre}}
          TOM:{{ factura.facnumero }}
          <p>Monto: ₡{{ factura.total }}</p>
          <p *ngIf='factura.q10 !=0'>Q10 Presion:{{factura.q10}}</p>
          <p *ngIf='factura.q10r !=0'>Q10 Rosca:{{factura.q10r}}</p>
          <p *ngIf='factura.q20 !=0'>Q20 Presion:{{factura.q20}}</p>
            <p *ngIf='factura.q25 !=0'>Q25 Presion:{{factura.q25}}</p>
            <p *ngIf='factura.q25r !=0'>Q25 Rosca:{{factura.q25r}}</p>
            <p *ngIf='factura.q35 !=0'>Q30 Presion:{{factura.q35}}</p>
            <p *ngIf='factura.q35r !=0'>Q35 Presion:{{factura.q35r}}</p>
            <p *ngIf='factura.q45 !=0'>Q40 Presion:{{factura.q45}}</p>
            <p *ngIf='factura.q45r !=0'>Q45 Presion:{{factura.q45r}}</p>
            <p *ngIf='factura.q60 !=0'>Q50 Presion:{{factura.q60}}</p>
            <p *ngIf='factura.q60r !=0'>Q60 Rosca:{{factura.q60r}}</p>
            <p *ngIf='factura.q100 !=0'>Q100 Rosca:{{factura.q100}}</p>
            <p *ngIf='factura.qtls !=0'>Litros:{{factura.qtls}}</p>
            <p *ngIf='factura.qkgs !=0'>Kilos:{{factura.qkgs}}</p>
            <p *ngIf='factura.credito == 0'>Credito</p>
            <p *ngIf='factura.credito == 1'>Contado</p>
        </div>

        <div *ngIf="factura.ruta !== '0'" >
           <h2 class="alineado">{{factura.nombre}}</h2>
           <h2 class="alineado">TOM:{{ factura.facnumero }}</h2>
          <p>Monto: ₡{{ factura.total }}</p>
          <p *ngIf='factura.q10 !=0'>Q10 Presion:{{factura.q10}}</p>
          <p *ngIf='factura.q10r !=0'>Q10 Rosca:{{factura.q10}}</p>
          <p *ngIf='factura.q20 !=0'>Q20 Presion:{{factura.q20}}</p>
            <p *ngIf='factura.q25 !=0'>Q25 Presion:{{factura.q25}}</p>
            <p *ngIf='factura.q25r !=0'>Q25 Rosca:{{factura.q25r}}</p>
            <p *ngIf='factura.q35 !=0'>Q30 Presion:{{factura.q35}}</p>
            <p *ngIf='factura.q35r !=0'>Q35 Presion:{{factura.q35r}}</p>
            <p *ngIf='factura.q45 !=0'>Q40 Presion:{{factura.q45}}</p>
            <p *ngIf='factura.q45r !=0'>Q45 Presion:{{factura.q45r}}</p>
            <p *ngIf='factura.q60 !=0'>Q50 Presion:{{factura.q60}}</p>
            <p *ngIf='factura.q60r !=0'>Q60 Rosca:{{factura.q60r}}</p>
            <p *ngIf='factura.q100 !=0'>Q100 Rosca:{{factura.q100}}</p>
            <p *ngIf='factura.qtls !=0'>Litros:{{factura.qtls}}</p>
            <p *ngIf='factura.qkgs !=0'>Kilos:{{factura.qkgs}}</p>
            <p *ngIf='factura.credito == 0'>Credito</p>
            <p *ngIf='factura.credito == 1'>Contado</p>
        </div>
      </ion-item>
      <!-- <ion-item-options side="right">
      <button ion-button  (click)="irAImprimir(factura.facnumero,factura.nombre)" >
        <ion-icon name="md-print"></ion-icon>
        Impresion
      </button>
      </ion-item-options> -->
    </ion-item-sliding>

<!-- TRamites -->
<h2  *ngIf="TramitesSQLite.length != 0">Tramites</h2>
<ion-item-sliding *ngFor="let transacciones of TramitesSQLite" >

  <ion-item>
        {{transacciones.factura}}
     <p>Tipo : {{ transacciones.tipo }}</p>
        Banco {{transacciones.banco}}
      <p>Monto: ₡{{ transacciones.monto }}</p>
      <p>Fecha: {{ transacciones.fecha }}</p>
  </ion-item>
</ion-item-sliding>


<!-- Gastos -->
<h2  *ngIf="GastosSQLite.length != 0">Gastos</h2>
<ion-item-sliding *ngFor="let gastos of GastosSQLite" >

  <ion-item>
    {{ gastos.tipo }}
     <p>Monto : ₡{{ gastos.monto }}</p>
      </ion-item>
</ion-item-sliding>

<!--- Billetes -->
<h2 *ngIf="billetesSQLite.length != 0">Billetes: ₡ {{ granTotal }}</h2>
<ion-item *ngIf="billetesSQLite.length != 0">

  <div *ngFor="let billetes of billetesSQLite">

      <ion-grid>
          <ion-row *ngFor="let billetes of billetesSQLite">
            <ion-col col-4>
                50k: {{ billetes.cincuentaMil }}
            </ion-col>
            <ion-col col-4>
                20k: {{ billetes.veinteMil }}
            </ion-col>
            <ion-col col-4>
                10k: {{ billetes.diezMil }}
            </ion-col>
            <ion-col col-4>
                5k: {{ billetes.cincoMil }}
            </ion-col>
            <ion-col col-4>
                2k: {{ billetes.dosMil }}
            </ion-col>
            <ion-col col-4>
                1k: {{ billetes.mil }}
            </ion-col>
            <ion-col col-4>
                500: {{ billetes.quinientos }}
            </ion-col>
            <ion-col col-4>
                100: {{ billetes.cien }}
            </ion-col>
            <ion-col col-4>
                50: {{ billetes.cincuenta }}
            </ion-col>
            <ion-col col-4>
                25: {{ billetes.veinticinco }}
            </ion-col>
            <ion-col col-4>
                10: {{ billetes.diez }}
            </ion-col>
            <ion-col col-4>
                5: {{ billetes.cinco }}
            </ion-col>
            <ion-col col-4>
                $: {{ billetes.dolares }}
            </ion-col>

          </ion-row>
      </ion-grid>

  </div>
</ion-item>

  </ion-list>
</ion-content>
