<!--
  Generated template for the ActulizarMantenimientoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #02383c;">Cerrar Mantenimiento</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <ion-item>
        <ion-label stacked style="color: #02383c;">Trabajos realizados</ion-label>
        <ion-select [(ngModel)]="trabajos" multiple="true">
          <ion-option value="Verificación de fechas de válvulas">Verificación de fechas de válvulas</ion-option>
          <ion-option value="Verificación cambio de reloj">Verificación cambio de reloj</ion-option>
          <ion-option value="Cambio de reloj">Cambio de reloj</ion-option>
          <ion-option value="Lavado del tanque">Lavado del tanque</ion-option>
          <ion-option value="Lavado del sitio donde está ubicado el tanque"> Lavado del sitio donde está ubicado el tanque</ion-option>
          <ion-option value="Pintado de tanque">Pintado de tanque</ion-option>
          <ion-option value="Rotulación del tanque">Rotulación del tanque</ion-option>
          <ion-option value="Rotulación  de malla o encierro">Rotulación  de malla o encierro</ion-option>
          <ion-option value="Instalación de soportaría">Instalación de soporteria</ion-option>
          <ion-option value="Verificación placa del tanque">Verificación placa del tanque</ion-option>
          <ion-option value="Instalación de tanque">Instalación de tanque</ion-option>
          <ion-option value="Desintalación de tanque">Desintalación de tanque</ion-option>
    </ion-select>
    </ion-item>
    <ion-item>
        <ion-label stacked style="color: #02383c;">Observaciones</ion-label>
        <ion-textarea placeholder="Observaciones del trabajo...." [(ngModel)]="observaciones"></ion-textarea>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color: #02383c;">Número Serie Tanque</ion-label>
      <ion-input type="text" [(ngModel)]="serie"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color: #02383c;">Fecha de válvulas:</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Seleccione una fecha"  [(ngModel)]="fechaV"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label stacked style="color: #02383c;">% Gas Instalación:</ion-label>
      <ion-input type="text" [(ngModel)]="porcentajeInstalacion"></ion-input>
    </ion-item> 
    <ion-item>
      <ion-label stacked style="color: #02383c;">% Gas Desinstalación:</ion-label>
      <ion-input type="text" [(ngModel)]="porcentajeDesinstalacion"></ion-input>
    </ion-item>  
    <ion-item>
      <ion-label stacked style="color: #02383c;">¿Terminó el trabajo?</ion-label>
      <ion-select [(ngModel)]="terminado" >
        <ion-option value="si" selected>Si</ion-option>
        <ion-option value="no">No</ion-option>
      </ion-select>
  </ion-item>
    <br>
    <p>En total adjuntar solo 2 fotos</p>
    <div id="loadedImages">
      <ion-item *ngFor="let item of fotos; let i = index">
        <ion-icon name="close-circle" (click)="borrarFoto(i)"></ion-icon>
        <img [src]="item" alt="" class="imagenes">
      </ion-item>
    </div>
    <ion-item text-center>
        <button ion-button icon-left (click)="abrirGaleria()"><ion-icon name="images"></ion-icon>Agregar fotos</button>
    </ion-item>

  </ion-list>

  <button ion-button block  (click)="mensajeDeSeguridad1()">Cerrar mantenimiento</button>

  <!-- <button ion-button block  (click)="obtenerMantenimientos()">Registrar</button> -->

</ion-content>