<ion-header>
  <ion-navbar>
    <ion-title><h3 style="color: #02383c;">Gestiones</h3></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <br>
      <br>
      <button class="btn-menuGestion" ion-button icon-start (click)="IrABanco()">
        <ion-icon class="icon-color1" name="hammer"></ion-icon>
        Banco
      </button>
      <br>
      <button class="btn-menuGestion" ion-button icon-start (click)="IrABilletes()">
        <ion-icon class="icon-color1" name="md-cash"></ion-icon>
        Billetes
      </button>
        <br>
      <button class="btn-menuGestion" ion-button icon-start (click)="irAGastos()">
        <ion-icon class="icon-color1" name="md-timer"></ion-icon>
        Gastos
      </button>
      <br>
      <button class="btn-menuGestion" ion-button icon-start (click)="irADepositos()">
        <ion-icon class="icon-color1" name="construct"></ion-icon>
       Depositos
      </button>



    </ion-row>
</ion-grid>
</ion-content>
