<ion-header>
  <ion-navbar style=" background-color: black;">
    <ion-title class="titulohome">
      <h3 style="color: #02383c;">Mantenimientos</h3>
    </ion-title>
    <button ion-button menuToggle style="color:#fff;">
      <ion-icon name="md-menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <div pading [(ngModel)]="mantenimientos">
        <ion-segment #segment>
          <ion-segment-button value="terminados">
            Terminados
          </ion-segment-button>
          <ion-segment-button value="noTerminados">
            No Terminados
          </ion-segment-button>
        </ion-segment>
    </div>

 
  <!--  <ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar> -->

    <h2 *ngIf="mantenimientosSQLite.length == 0">No se han hecho mantenimientos en el día</h2>

    <div [ngSwitch]="mantenimientos">
      <ion-list  *ngSwitchCase="'terminados'">

        <ion-item-sliding *ngFor="let mantenimiento of mantenimientosTerminados" >

          <ion-item>
            <ion-card>
              <p>Serie: {{mantenimiento.serieTanque}}</p>
              <p>Fecha: {{mantenimiento.fechavisita}}</p>
            </ion-card>
          </ion-item>
          <ion-item-options side="right">
            <button ion-button color="secondary" (click)="enviarMantenimiento(mantenimiento)" >
              <ion-icon name="send"></ion-icon>
              Enviar
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>

    <div [ngSwitch]="mantenimientos">
      <ion-list  *ngSwitchCase="'noTerminados'">
        <ion-item-sliding *ngFor="let mantenimiento of mantenimientosNoTerminados" >

              <ion-item (click)="irAEditarMantenimiento(mantenimiento)">
                <ion-card>
                  <p>Serie: {{mantenimiento.serieTanque}}</p>
                  <p>Fecha: {{mantenimiento.fechavisita}}</p>
                </ion-card>
              </ion-item>
              <!--
                <ion-item-options side="right">
                <button ion-button color="secondary" (click)="irAEditarMantenimiento(mantenimiento)" >
                  <ion-icon name="send"></ion-icon>
                 Actualizar
                </button>
              </ion-item-options>
               -->  
            </ion-item-sliding>
      </ion-list> 
    </div>
</ion-content>
