<!--
  Generated template for the RegistroTanquePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header style="color: #02383c;">
  <ion-navbar style="color: #02383c;">
    <ion-title style="color: #02383c;">Registro Tanque</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item>
            <ion-label stacked style="color: #02383c;"  >Codigo Cliente:</ion-label>
            <ion-input type="text"  [(ngModel)]="codigoCliente" disabled ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;" disabled>Ruta de venta:</ion-label>
            <ion-input type="text" [(ngModel)]="ruta" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;" >Nombre Negocio:</ion-label>
            <ion-input type="text" [(ngModel)]="nombreNegocio" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;" >Razón Social:</ion-label>
            <ion-input type="text" [(ngModel)]="propietario" disabled></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Número Contrato:</ion-label>
            <ion-input type="text" [(ngModel)]="numContrato"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Marca Tanque:</ion-label>
            <ion-input type="text" [(ngModel)]="marcaTanque"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Posición Tanque:</ion-label>
            <ion-select [(ngModel)]="posicionTanque">
                <ion-option value="horizontal">Horizontal</ion-option>
                <ion-option value="vertical">Vertical</ion-option>
            </ion-select>
        </ion-item>
        <ion-item hidden="true">
            <ion-label stacked>Latitud</ion-label>
            <ion-input type="text"  [(ngModel)]="latitud"></ion-input>
        </ion-item>
        <ion-item hidden="true">
            <ion-label stacked>Longitud</ion-label>
            <ion-input type="text"  [(ngModel)]="longitud"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Número Serie Tanque:</ion-label>
            <ion-input type="text" [(ngModel)]="numSerie"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Capacidad Litros:</ion-label>
            <ion-input type="number" [(ngModel)]="litros"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Fabricante</ion-label>
            <ion-input type="text" [(ngModel)]="fabricante"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label stacked style="color: #02383c;">Fecha fabricación:</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Seleccione una fecha"  [(ngModel)]="fechafabricacion"></ion-datetime>
        </ion-item>
       <ion-item>
            <ion-label stacked style="color: #02383c;">Contrato Activo:</ion-label>
            <ion-select [(ngModel)]="activo">
                <ion-option value="si">Si</ion-option>
                <ion-option value="no">No</ion-option>
            </ion-select>
        </ion-item>

        <ion-item>
            <ion-label stacked style="color: #02383c;">Estado del tanque:</ion-label>
            <ion-select [(ngModel)]="estado">
                <ion-option value="1">Obsoleto</ion-option>
                <ion-option value="2">Buen estado</ion-option>
                <ion-option value="3">Excelente estado</ion-option>
            </ion-select>
        </ion-item>
       <!-- <ion-item>
            <ion-label stacked style="color: #02383c;">Fecha instalación</ion-label>
            <ion-datetime displayFormat="YYYY-MM-DD" placeholder="Seleccione una fecha"  [(ngModel)]="fechainstalacion"></ion-datetime>
        </ion-item> -->
       <ion-item>
            <ion-label stacked style="color: #02383c;">Provincia:</ion-label>
            <ion-select (ionChange) ="cambio($event)">
              <ion-option value="3">Cartago</ion-option>
              <ion-option value="1">San José</ion-option>
              <ion-option value="2">Alajuela</ion-option>
              <ion-option value="4">Heredia</ion-option>
              <ion-option value="6">Puntarenas</ion-option>
              <ion-option value="5">Guanacaste</ion-option>
              <ion-option value="7">Limón</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="pro != 9">
            <ion-label stacked style="color: #02383c;">Cantón:</ion-label>
            <ion-select (ionChange) ="cambioCanton($event)">
              <ion-option *ngFor="let canton of cantones" value="{{canton.id}}">{{canton.canton}}</ion-option>
            </ion-select>
        </ion-item>
        <ion-item *ngIf="can != 83">
            <ion-label stacked style="color: #02383c;">Distrito:</ion-label>
            <ion-select (ionChange) ="cambioDistrito($event)">
                <ion-option *ngFor="let distrito of distritos" value="{{distrito.id}}">{{distrito.distrito}}</ion-option>
            </ion-select>
        </ion-item>
    </ion-list>

    <button class="btn-menu" ion-button (click)="mensajeDeSeguridad1()">Registrar</button>
</ion-content>
