<ion-header>
  <ion-navbar>
    <ion-title class="titulohome">
      <h3 color="primary">Facturas del día</h3>
    </ion-title>
    <button ion-button menuToggle style="color:#fff;">
      <ion-icon name="md-menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!--<ion-searchbar [(ngModel)]="terms" placeholder="Buscar"></ion-searchbar>-->
<br>
    <h3 *ngIf="facturasSQLite.length == 0">No se han hecho facturas en el día</h3>
  <ion-list>

    <ion-item-sliding *ngFor="let factura of facturasSQLite" >
<br>
      <ion-item *ngIf="factura.enviada === 1" class="enviada" >

          {{ factura.facnumero }}
          <p>{{factura.nombre}}</p>
          <p>Monto: ₡{{ factura.total }}</p>


        <!-- <div *ngIf="factura.enviada === 0">
            {{ factura.facnumero }}
            <p>{{factura.nombre}}</p>
            <p>Monto: ₡{{ factura.total }}</p>
        </div> -->

      </ion-item>
<ion-item *ngIf="factura.enviada === 0" class="noEnviada">
  {{ factura.facnumero }}
  <p>{{factura.nombre}}</p>
  <p>Monto: ₡{{ factura.total }}</p>
</ion-item>


      <ion-item-options side="right">
        <!-- <button ion-button color="danger" (click)="anularFactura(factura.facnumero)">
          <ion-icon name="close"></ion-icon>
          Anular
        </button> -->
        <!-- <button ion-button  (click)="irAImprimir(factura.facnumero,factura.nombre)" >
          <ion-icon name="send"></ion-icon>
          Impresion
        </button> -->
        <button ion-button class="enviar" (click)="enviarFactura(factura)"  (click)="obtenerDetalle(factura.facnumero)"  (click)="obtenerMotivosNoCompra()" (click)="obtenerDetalleTanque(factura.facnumero)">
          <ion-icon name="send"></ion-icon>
          Enviar
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
