.resaltado1{
    background-color: rgba(230, 10, 10, 0.932);
}

h2{
    text-align: center;
}

.enviada{
    background-color: greenyellow;
    color: black;
    border-bottom: 3px solid black;
}

.noEnviada{

    border-bottom: 3px solid black;
}

.enviar{
  background-color: rgb(7, 71, 97);
  border: 3px solid black;
}
